# Ignore common system directories in Windows
AppData/
Application Data/
Cookies/
Documents/
Intel/
Local Settings/
My Documents/
NetHood/
PrintHood/
Recent/
SendTo/
Start Menu/
Templates/
# Ignore temporary files
*.tmp
*.log
